@font-face
{
	font-family: 'Carolingia';
	src: url('polices/carolingia/carolingia.ttf');
	src: url('polices/carolingia/carolingia.ttf') format('truetype');
}

@font-face
{
	font-family: 'Aerolite';
	src: url('polices/aerolite/AeroliteCPone.otf') format('truetype');
}

@font-face
{
	font-family: 'ConeriaScript';
	src: url('polices/coneria_script/Demo_ConeriaScript.ttf') format('truetype');
}

@font-face
{
    font-family: 'LearningCurveProRegular';
    src: url('polices/learning/LearningCurve_OT-webfont.eot');
    src: url('polices/learning/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/learning/LearningCurve_OT-webfont.woff') format('woff'),
         url('polices/learning/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('polices/learning/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

@font-face
{
    font-family: 'Daniel_midgley';
	src: url('polices/daniel_midgley/danielbd.ttf');
    src: url('polices/daniel_midgley/danielbd.ttf') format('truetype');
}

@font-face
{
    font-family: 'goodDog';
    src: url('polices/gooddog/GoodDog-webfont.eot');
    src: url('polices/gooddog/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/gooddog/GoodDog-webfont.woff') format('woff'),
         url('polices/gooddog/GoodDog-webfont.ttf') format('truetype'),
         url('polices/gooddog/GoodDog-webfont.svg#goodDog') format('svg');
}

* {
	padding: 0;
	margin: 0;
}

header
{
	width: 100%;
	display: inline-block;
	color: #706b64;
	font-size: 120%;
	background-color: #31393d;
	height: 140px;
	opacity: 1;
	margin-bottom: 10px;
}

body
{
	color: white;
	margin: auto;
	width: 1280px;
	background-image: url(../images/cybel_facade_flou.jpg);
	background-size: cover;
	/*font-family: "CrimsonRoman","Times New Roman",Times,"Liberation Serif",FreeSerif,Georgia,serif;*/
	font-family: 'Julius Sans One', 'Open Sans', Arial, sans-serif;
}

h1, h2
{
	display: inline-block;
	position: relative;
}

article h1, article h2
{
	color: #FF5930;
	padding: 10px;
}

h1 {
	color: #FF5930;
}

header h1, header h2
{
	padding-right: 10px;
	padding-left: 10px;
}

header h1
{
	font-family: Daniel_midgley, Arial, sans-serif;
	margin-top: 10px;
	border-radius: 0 6px 3px 0;
	font-size: 58px;
}

header h2
{
	font-family: Daniel_midgley, Arial, sans-serif;
	border-radius: 0 4px 4px 0;
	font-size: 30px;
	color: gray;
}

article h1, aside h1, article h2
{
	font-family: "CrimsonRoman","Times New Roman",Times,"Liberation Serif",FreeSerif,Georgia,serif;
	font-size: 30px;
	margin-bottom: 0;
}

nav
{
	z-index: 1;
	position: relative;
    display: inline-block;  
    vertical-align: bottom;
	left: 0;
	width: 100%;
	height: 50px;
}

nav ul
{
    list-style-type: none;
	margin-top: 10px;
	width: 80%;
	margin-left: 10%;
	position: relative;
}
 
nav li
{
    display: inline-block;
	text-align: center;
	min-width: 230px;
}

nav li a:after, nav li a:before
{  
    content: " ";  
    position: absolute;  
    width: 50%;
    height: 10px;  
	z-index: -1;
}

nav li a:hover
{
	border-top: 3px solid #FF5930;
}
 
nav a
{
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 15px;
	padding-left: 15px;
    font-size: 120%;
	color: white;
    text-decoration: none;
}

div.accueil {
	padding: 0;
	margin: 0;
}

article, aside
{
    display: block;
	float: left;
    vertical-align: top;
    text-align: justify;
	opacity: 1;
	font-size: 17px;
	margin: 0;
}

.localisation
{
	position: relative;
    width: 1280px;
	background-color: #FF5930;
    color: white;
}

.localisation  p.block
{
	float: left;
	width: 320px;
	height: 250px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.localisation h1
{
	display: inline-block;
	width: 320px;
	padding: 0;
	margin: 0;
}

.localisation .block img{
	width: 60px;
	height: 60px;
	padding-top: 50px;
	padding-bottom: 20px;
}

.localisation strong {
	color: #31393d;
	font-size: 20px;
}

aside
{
	position: relative;
    color: white;
	width: 19%;
    min-height: 800px;
    height: 800px;
    overflow: hidden;
}

article
{
	width: 100%;
	background-color: #31393d;
}

article.accessoires,
article.parfumerie,
article.soins,
article.soins_visage,
article.soins_corps,
article.epilations,
article.maquillage,
article.prothesie,
article.lipomodelage,
article.uv,
article.amincissement
{
	width: 80%;
    min-height: 800px;
	margin-right: 1%;
}

article.contact,
article.cadeaux {
    min-height: 800px;

}

article.contact {
	width: 100%;
}

div.img_accueil {
	width: 100%;
	height: 410px;
	margin: 0;
	padding: 0;
}

article p {
	padding: 5px;
}

img.accueil {
	width: 100%;
}

span.icones {
	width: 320px;
	height: 50px;
	margin: auto;
}

#mes_photos
{
	display: inline-block;
	text-align: center;
	margin: auto;
	width: 50%;
}

#mes_photos h1
{
	font-size: 100%;
}

.rm_container
{
	width:1280px;
	overflow:hidden;
	height:300px;
    margin-bottom: 10px;


}
.rm_container h2
{
	background:transparent url(../images/lines.png) repeat top left;
	padding:10px 30px;
	position:absolute;
	bottom:25px;
	color:#000;
	font-size:36px;
	text-transform:uppercase;
	text-shadow:1px 0 1px #fff;
	width: 325px;
}

.rm_container ul
{
	width:1280px;
	padding: 0;
	margin: 0;
}

.rm_container ul li
{
	float:left;
	position:relative;
	overflow:hidden;
	width:320px;
	height:300px;
}

.rm_container ul li img
{
    margin-left: 10px;
	position:absolute;
	top:0;
	left:0;
}

.rm_nav a
{
	position:absolute;
	bottom:5px;
	width:45px;
	height:45px;
	cursor:pointer;
	opacity:0.7;
}

.rm_nav a:hover
{
	opacity:1.0;
}

footer
{
	position: relative;
	width: 100%;
	margin-top: 10px;
	display: inline-block;
	color: white;
	font-size: 90%;
	background-color: #31393d;
	opacity: 1;
}

footer p
{
	display: inline-block;
	position: relative;
	margin-left: 950px;
	margin-top: 50px;
}

footer a, article a
{
	color: #FF5930;
}

#menu
{
	width: 100%;
	height: 38px;
    background-color: #F4F9FD;
}

#onglets
{
	width: 100%;
	height: 35px;
	font : 16px 'PT Sans Narrow', Arial, sans-serif;
	list-style-type : none;
	margin: 0;
}

#onglets li
{
	float : left;
	height : 35px;
    width: 256px;
}

#onglets li.active a
{
    color: white;
    background-color: #31393d;
    border-top: 3px solid #31393d;
}

#onglets li.active:hover a
{
    background-color: #31393d;
}

#onglets a
{
	display : block;
	color : #666;
	text-decoration : none;
    text-align: center;
	height : 27px;
	padding : 4px;
	line-height: 27px;
    border-top: 3px solid #F4F9FD;
}

#onglets li:hover a
{
	background-color : white;
    color: #FF5930;
	opacity: 1;
    border-top: 3px solid #FF5930;
}

div.soins_tabs {
    display: inline-block;
    vertical-align:top;
}

div.soins_tabs.left,
div.soins_tabs.right
{
    margin-right: 18px;
    margin-left: 18px;
}

table.soins
{
	width: 470px;
    padding: 10px;
}

article.soins_visage tr
{
	height: 35px;
}

article.soins_corps tr
{
    height: 75px;
}

td.desc
{
	width: 380px;
	text-align: left;
}

td.prix
{
	width: 80px;
	text-align: right;
}



strong{
	color: rgba(193,193,193,1);
}

.carrousel{
	width: 960px;
	height: 300px;
}

.carrousel a{
	display: block;
	float: left;
	width: 244px;
	height: 130px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.carrousel a.soins{
	display: block;
	float: left;
	width: 244px;
	height: 180px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.carrousel .slide{
	display: block;
	width: 960px;
	height: 250px;
	position: relative;
}



.carrousel .slide .info{
	display: block;
	color: #FFF;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
}

.nouveaute{
	display: block;
	width: 350px;
	margin: auto;
}

.nouveaute img.img_nouveaute{
	display: block;
	width: 350px;
	margin: auto;
}

.social {
	width: 300px;
	display: inline-block;
}

.copyright {
	width: 670px;
	display: inline-block;
	text-align: center;
	margin-bottom: 5px;
}


.message_info {
	color: #FF5930;
	border: 1px solid #FF5930;
	border-radius: 10px;
	padding: 5px;
	font-size: 12px;
	text-align: left;
}